/*! Copyright MizTech
 *  Licensed MikeZheng
 *  http: //mike-zheng.github.io/
 *             _   _____         _     
 *            (_) |_   _|       | |    
 *   _ __ ___  _ ___| | ___  ___| |__  
 *  | '_ ` _ \| |_  / |/ _ \/ __| '_ \ 
 *  | | | | | | |/ /| |  __/ (__| | | |
 *  |_| |_| |_|_/___\_/\___|\___|_| |_|
 *                 mike-zheng.github.io
 */

@font-face {
    font-family: 'cwTeXHei';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
    src: url(https://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(https://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(https://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(https://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
    //
}

// @include pc-width{}
// @include pad-width() {}
// @include small-pad-width() {}
// @include phone-width() {}
// @include box-shadow(
//     0 1px 4px rgba(0,0,0,0.3),
//     0 0 40px rgba(0,0,0,0.1) inset
//  );
// @include transition();
$color_main: #313741;
$color_select: #56ADFC;
$color_meta: #292F39;
$color_font: #8B8B91;
$white:#FFF;
// mikzUI
// 2016
//vendor
@import "vendor/font-awesome";
@import "vendor/flexboxgrid";
@import "vendor/hint";
@import "vendor/rzslider";


// 函式
@import 'libs/mixins';
// 基本設定
@import 'base/rwd';
// @import 'base/page';
// @import 'base/article';
// 版型
// @import 'layout/';
// 元件
@import 'components/component';
body {
    background-color: #EFEFEF;
    font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", "STHeiti", "微軟正黑體", "Microsoft Yahei", sans-serif;
    overflow: hidden;
}

input,
textarea,
keygen,
select,
button {
    font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", "STHeiti", "微軟正黑體", "Microsoft Yahei", sans-serif;
}


/*!
 * MizUI v1.0.0 
 * Copyright MizTech
 * Licensed MikeZheng
 * http://mike-zheng.github.io/
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
body {
    background-color: #ECEFF2;
    // padding: 60px 20px;
    font-family: "Source Sans Pro", "Open Sans", Lato, "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", STHeiti, 微軟正黑體, "Microsoft Yahei", sans-serif;
    margin: 0px;
    color: #343942;
    -webkit-font-smoothing: antialiased;
    // overflow:none;
    // background-color: #000;
}


